@import 'base/_reset';
@import 'base/_fonts';

@import 'primary/_print';
@import 'primary/_screen';

$background-color: #251371;
$background-color-two: #6206cb;
$secondary-color: #bdbbff;
// body {
// 	--main-color: black;
// }
// $shape-color: var(--main-color);
$third-color: #ff0b81;
$text-color: #fff;
$shape-color: rgba(lighten($background-color-two,10%),0.5);
$slight: #9592fa;

::selection { background: #ff0b81; }

@import 'elements/_header';
@import 'elements/_footer';
@import 'elements/_home';
@import 'elements/_work';
@import 'elements/_contact';
@import 'elements/_profile';
@import 'elements/_content';
@import 'elements/_notfound';
@import 'elements/_shapes';
@import 'elements/_work-page';
@import 'elements/_writings';


@import 'plugins/_nav';
@import 'plugins/_slick';

body {
	background-color: $background-color;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: #1328a1;
	background-color: #1c1c1c;
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 5px;
}

/* Show Things */
.iseeyou,
.iseeyou {
	opacity: 0;
}

.showcase-icu.iseeyou {
	transform: translateY(20px);
}

.iseeyou.active,
.iseeyou.active {
	animation: showThing 0.5s ease 1;
	opacity: 1;
}

.showcase-icu.iseeyou.active {
	animation: showThingShowcase 0.5s ease 1;
	transform: translateY(0px);
}

@keyframes showThing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showThingShowcase {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.overflow {
	position: relative;
	background-color: $background-color;
	z-index: 2;

	backface-visibility: hidden;
	// clip: rect(top, right, bottom, left);
	clip-path: inset(0 0 0 0);

	overflow: hidden;

	// box-shadow: 0px 0px 50px rgba(0,0,0,0.25);
}
