/* Header */
header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px 60px 60px 60px;
  position: relative;
  z-index: 9;
  transition: 0.5s all ease;

  @supports (display: flex) {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes show-header {
  0% {
    opacity: 0;
    transform: translateY(-120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

header.stuck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 30px;

  background: linear-gradient(45deg, rgba($background-color,0.85) 0%, rgba($background-color-two,0.85) 100%);

  background-attachment: fixed;
  animation: show-header 1s ease 0s normal;

  a.logo {
    width: 40px;
    height: 40px;

    img,
    svg {
        width: 40px;
    	height: 40px;
    }
  }

  &:after {
    top: 100%;
  }

  nav {
    top: 0px;
  }

  .c2a a {
      padding: 8px 20px;

      font-size: 14px;
    }
}

header:after {
  // content: '';
  // position: absolute;
  // top: 50%;
  // left: 0;
  // width: 100%;
  // height: 1px;
  // background: rgba(#251e93,0.5);
  // z-index: -1;
}

/* Header Sticky */
.header-holder {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
}

header a.logo {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;

  img {
	  display: block;
	  width: 60px;
	  height: 60px;
  }
  svg {
      display: block;
      width: 60px;
      height: 60px;
  }
  svg path.line {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      transition: 0.25s all ease;
			animation-name: showlogo;
			animation-duration: 3s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			// animation-delay: 2s;
			stroke-dasharray: 200;
  		stroke-dashoffset: 0;
  }
  svg path.shape {
      fill: rgba(darken($background-color, 10%),0.1);
      transition: 0.25s all ease;
  }
}

@keyframes showlogo {
	0% {
		stroke-dashoffset: 200;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

header a.logo:hover,
header a.logo:focus {
    svg .line {
        stroke: $third-color;
    }
    svg path.shape {
        fill: rgba(darken($background-color, 10%),0);
    }
}

$tablet: 50em;
$mobile: 40em;

/* Nav */
header nav {
  // margin: 0 0;

  position: absolute;
  top: 40px;
  left: 50%;
  width: 600px;
  margin: 20px 0 20px -300px;
  text-align: center;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin: 20px 40px;
  line-height: 30px;
}

header nav ul li a {
  font-size: 16px;
  font-size: 1em;
  display: block;
  line-height: 20px;
  text-decoration: none;
  color: $slight;
  position: relative;
  // letter-spacing: 0.1em;
  font-variant-ligatures: none;
  // font-weight: bold;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0%;
    height: 2px;
    width: 0%;
    background-color: $third-color;
    border-radius: 1px;
    transition: 0.25s all ease;
    z-index: -1;
  }
  &:hover,
	&.active {
	  color: $text-color;
  }
  &:hover:before,
	&.active:before {
    width: 100%;
  }
}

@media screen and (max-width: $tablet) {
  header nav ul li {
    margin: 20px 20px;
  }
}

@media screen and (max-width: $mobile) {
  header nav {
    display: none;
  }
}

/*  */
header .c2a a {
    padding: 18px 26px;

    font-size: 16px;
    display: block;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    // letter-spacing: 0.1em;
    font-weight: bold;
    border: 2px solid rgba($slight,0.5);
    border-radius: 3px;
    font-variant-ligatures: none;
    cursor: pointer;

    transition: 1s all ease;
}

@media screen and (max-width: 1000px) {
    header .c2a a {
        padding: 18px 14px;
        letter-spacing: 0;
    }
}

header .c2a a:hover,
header .c2a a:focus,
header .c2a a.active {
	border-color: $third-color;
}

/* Mobile Menu Toggle */
header .menu-btn {
    display: none;

    padding: 0;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
    color: $background-color;

    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    line-height: 45px;
    margin: 10px 0;
    width: 40px;
    height: 38px;

    transition: 1s all ease;

    &:hover,
    &:focus {
        outline: none;
    }

	span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $text-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
	}

	span:nth-child(1) {
        top: 0px;
	}

	span:nth-child(2),
	span:nth-child(3) {
        top: 16px;
	}

	span:nth-child(4) {
        top: 32px;
	}

	&.open span:nth-child(1) {
        top: 16px;
        width: 0%;
        left: 50%;
	}

	&.open span:nth-child(2) {
        transform: rotate(45deg);
	}

	&.open span:nth-child(3) {
        transform: rotate(-45deg);
	}

	&.open span:nth-child(4) {
        top: 16px;
        width: 0%;
        left: 50%;
	}
}

header.stuck .menu-btn {
	margin: 5px 0;
	height: 30px;
	width: 30px;

	span {
		height: 3px;
	}

	span:nth-child(1) {
	  top: 0px;
	}

	span:nth-child(2),
	span:nth-child(3) {
	  top: 14px;
	}

	span:nth-child(4) {
	  top: 28px;
	}

	&.open span:nth-child(1) {
	  top: 14px;
	}

	&.open span:nth-child(4) {
	  top: 14px;
	}
}

@media screen and (max-width: $mobile) {
  header .menu-btn {
    display: block;
  }
  header .c2a a {
    display: none;
  }
}

@keyframes example {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Light Header */
header.stuck.light {
    background: #FFF;
}

header.light .menu-btn span {
    background: #000;
}

header.light a.logo {
  svg path.line {
      stroke: $background-color-two;
  }
  svg path.shape {
      fill: none;
  }
}

header.light a.logo:hover,
header.light a.logo:focus {
    svg .line {
        stroke: $third-color;
    }
    svg path.shape {
        fill: rgba(darken($background-color, 10%),0);
    }
}

header.light nav ul li a {
  color: lighten(#000,25%);

  &:before {
    background-color: $third-color;
  }
  &:hover,
	&.active {
	  color: $third-color;
  }
}
header.light .c2a a {
    color: #000;
    border: 2px solid $secondary-color;
}

header.light .c2a a:hover,
header.light .c2a a:focus,
header.light .c2a a.active {
	border-color: $third-color;
}
