$sizing-ratio: 1;

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

/* Banner Text */
.banner-text {
	position: relative;
  color: $text-color;
  z-index: 3;
}

.banner-text .row {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 60px;

	@media screen and (max-width: 60em) {
		padding: 0 40px;
	}
}

.home .banner-text h1 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.35;
    text-align: center;

		.hash {
			color: $third-color;
		}

    .name {
			font-weight: bold;
      position: relative;
      text-shadow: 0px 0px 25px rgba(#989ecd,0.35);

      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0px;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        background-color: $third-color;
        z-index: -1;
      }
    }

    .job {
      position: relative;
      text-shadow: 0px 0px 25px rgba(#989ecd,0.35);

      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0px;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        // background-color: $third-color;
        z-index: -1;
      }
    }

    .city {
      position: relative;
      text-shadow: 0px 0px 25px rgba(#989ecd,0.35);

      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0px;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        // background-color: $third-color;
        z-index: -1;
      }
    }

  .line {
    // color: $third-color;
    display: block;
  }

	// font-family: 'New Transport';

	@media screen and (max-width: 100em) {
		font-size: 40px;
		font-size: 2.5rem;
	}

	@media screen and (max-width: 60em) {
		font-size: 32px;
		font-size: 2rem;
	}
}

.js .home .banner-text h1 {

}

.home .image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
	// box-shadow: inset 0px 0px 500px rgba($third-color,0.1);
  background: linear-gradient(0deg, rgba(#3e276c,0.75) 0%, rgba($background-color,1) 100%);
}

/* Home Contact */
.home-contact {
  min-height: 100vh;
  width: 100%;
  padding: 200px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  z-index: 1;
  position: relative;
  // background-color: #222;
}

.home-contact .banner-text {
	position: relative;
	color: $text-color;
}

.home-contact .banner-text h2 {
		font-size: 40px;
		font-size: 2.5rem;
    line-height: 1.35;
    margin-bottom: 20px;
    color: $text-color;
    margin-bottom: 30px;
}

.home-contact .left-col {
    width: 72.5%;
    float: left;
}

.home-contact .right-col {
    width: 27.5%;
    float: right;
}

.home-contact .right-col h5 {
    margin: 20px 0 10px 0;
    color: $text-color;
    line-height: 1.35;
    font-size: 18px;
    font-size: 1.125em;
}

.home-contact .right-col h5:first-of-type {
	margin: 10px 0;
}

.home-contact .right-col p {
    margin: 5px 0;
    color: $slight;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.8;
    font-family: monospace;
}

.home-contact .right-col a {
	color: #FFF;
	text-decoration: none;
}

.home-contact .right-col ul {
	list-style: none;
}

.home-contact .right-col li {
    margin: 5px 0;
    color: $slight;
	font-size: 20px;
	font-size: 1.25rem;
    line-height: 1.8;
    font-family: monospace;
	padding-left: 20px;
	position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 9px;
			left: 0px;
			width: 10px;
			height: 1px;
			background-color: $slight;
		}
}

/* Home Contact Header */
.home-contact header nav li a {
    color: #293853;
}

.home-contact .c2a a {
    color: #293853;
    border-color: #293853;
}

.home-contact footer .social li a svg {
    fill: #293853;
}

.home-contact form {
    padding: 0 60px;
}

@media screen and (max-width: $tablet) {
    .home-contact {
        min-height: initial;
        padding: 50px 0;
    }
    .home-contact .left-col,
    .home-contact .right-col {
        width: 100%;
        float: none;
    }
		.home-contact form {
			padding: 0;
		}
		.home-contact {
			form input[type="submit"], form input[type="button"], form button {
				float: none;
				min-width: 0;
				width: 100%;
				background-color: $background-color;
			}
		}
}
