.intro-anim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.intro-anim svg {
	display: block;
}

.intro-anim .shape-center {
	transform: translate(-50%, -50%);
}

.intro-anim .shape-spin {
	animation: spin 10s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.intro-anim .lined-normal {
	fill: none;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke: url(#gradient-normal);
}

.intro-anim .lined-nograd {
	fill: none;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke: #2c41ff;
}

.intro-anim .lined-pink {
	fill: none;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke: url(#gradient-pink);
}

.intro-anim {
	.shape {
		position: absolute;
		top: 50%;
		left: 50%;
		transition: 5s top cubic-bezier(0.250, 0.100, 0.250, 1.000), 5s left cubic-bezier(0.250, 0.100, 0.250, 1.000), 2s opacity ease 0.5s;
		opacity: 0;
	}
	&.active .shape {
		opacity: 1;
	}

	.shape-1 {
		fill: url(#gradient-high);
	}
	&.active .shape-1 {
		top: 56.5%;
		left: 8%;
	}

	.shape-2 {
		fill: url(#gradient-pink);
	}
	&.active .shape-2 {
		top: 41%;
		left: 14%;
	}

	.shape-4 {
		fill: url(#gradient-normal);
	}
	&.active .shape-4 {
		top: 18.5%;
		left: 34%;
	}
	.shape-5 {
		fill: url(#gradient-normal);
	}
	&.active .shape-5 {
		top: 31.5%;
		left: 28%;
	}
	.shape-6 {
		fill: url(#gradient-normal);
	}
	&.active .shape-6 {
		top: 35%;
		left: 36%;
	}
	.shape-7 {
		fill: url(#gradient-normal);
	}
	&.active .shape-7 {
		top: 23%;
		left: 49.5%;
	}
	.shape-8 {
		fill: url(#gradient-normal);
	}
	&.active .shape-8 {
		top: 54%;
		left: 20%;
	}
	.shape-9 {
		fill: url(#gradient-normal);
	}
	&.active .shape-9 {
		top: 37.5%;
		left: 83.5%;
	}
	.shape-10 {
		fill: url(#gradient-normal);
	}
	&.active .shape-10 {
		top: 76.5%;
		left: 11.5%;
	}
	.shape-11 {
		.line {
			fill: none;
			stroke-width: 9;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
			stroke: url(#gradient-normal);

			stroke-dasharray: 67 68;
			stroke-dashoffset: 67;
			animation: showLine 5s ease alternate infinite;

			@keyframes showLine {
				0% {
					stroke-dasharray: 67 68;
					stroke-dashoffset: 67;
				}
				100% {
					stroke-dasharray: 67 68;
					stroke-dashoffset: 0;
				}
			}
		}
		.circle {
			fill: #2c41ff;
		}
	}
	&.active .shape-11 {
		top: 82%;
		left: 18%;
	}
	.shape-12 {
		fill: url(#gradient-normal);
	}
	&.active .shape-12 {
		top: 72.5%;
		left: 22.5%;
	}
	.shape-13 {
		fill: url(#gradient-normal);
	}
	&.active .shape-13 {
		top: 62%;
		left: 23%;
	}
	.shape-14 {
		fill: url(#gradient-normal);
	}
	&.active .shape-14 {
		top: 74.5%;
		left: 32%;
	}
	.shape-15 {
		fill: url(#gradient-normal);
	}
	&.active .shape-15 {
		top: 89%;
		left: 28.5%;
	}
	.shape-16 {
		fill: url(#gradient-normal);
	}
	&.active .shape-16 {
		top: 80%;
		left: 37.5%;
	}
	.shape-17 {
		fill: url(#gradient-normal);
	}
	&.active .shape-17 {
		top: 62.5%;
		left: 36%;
	}
	.shape-18 {
		fill: url(#gradient-normal);
	}
	&.active .shape-18 {
		top: 26%;
		left: 87%;
	}
	.shape-19 {
		fill: url(#gradient-normal);
	}
	&.active .shape-19 {
		top: 68%;
		left: 56.5%;
	}
	.shape-20 {
		fill: url(#gradient-normal);
	}
	&.active .shape-20 {
		top: 30%;
		left: 72%;
	}
	.shape-21 {
		fill: url(#gradient-normal);
	}
	&.active .shape-21 {
		top: 87%;
		left: 61%;
	}
	.shape-22 {
		fill: url(#gradient-normal);
	}
	&.active .shape-22 {
		top: 77%;
		left: 64%;
	}
	.shape-23 {
		fill: url(#gradient-normal);
	}
	&.active .shape-23 {
		top: 71%;
		left: 66.5%;
	}
	.shape-24 {
		fill: url(#gradient-normal);
	}
	&.active .shape-24 {
		top: 86%;
		left: 72%;
	}
	.shape-25 {
		fill: url(#gradient-normal);
	}
	&.active .shape-25 {
		top: 80.5%;
		left: 77.5%;
	}
	.shape-26 {
		fill: url(#gradient-normal);
	}
	&.active .shape-26 {
		top: 88.5%;
		left: 79%;
	}
	.shape-27 {
		fill: url(#gradient-normal);
	}
	&.active .shape-27 {
		top: 65%;
		left: 76.5%;
	}
	.shape-28 {
		fill: url(#gradient-normal);
	}
	&.active .shape-28 {
		top: 24%;
		left: 17.5%;
	}
	.shape-29 {
		fill: url(#gradient-normal);
	}
	&.active .shape-29 {
		top: 67.5%;
		left: 84%;
	}
	.shape-30 {
		fill: url(#gradient-normal);
	}
	&.active .shape-30 {
		top: 56%;
		left: 92%;
	}
	.shape-31 {
		.line {
			fill: none;
			stroke-width: 9;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
			stroke: url(#gradient-normal);

			animation: showLine 7.5s ease alternate infinite;
		}
		.circle {
			fill: #2c41ff;
		}
	}
	&.active .shape-31 {
		top: 49.5%;
		left: 81.5%;
	}
	.shape-32 {
		fill: url(#gradient-normal);
	}
	&.active .shape-32 {
		top: 45%;
		left: 90.5%;
	}
	.shape-33 {
		fill: url(#gradient-normal);
	}
	&.active .shape-33 {
		top: 41.5%;
		left: 26%;
	}
	.shape-34 {
		fill: url(#gradient-normal);
	}
	&.active .shape-34 {
		top: 66%;
		left: 18%;
	}
	.shape-35 {
		fill: url(#gradient-normal);
	}
	&.active .shape-35 {
		top: 73.5%;
		left: 47.5%;
	}
	.shape-36 {
		fill: url(#gradient-normal);
	}
	&.active .shape-36 {
		top: 89%;
		left: 48%;
	}
	.shape-37 {
		fill: url(#gradient-normal);
	}
	&.active .shape-37 {
		top: 19.5%;
		left: 74.5%;
	}
	.shape-38 {
		fill: url(#gradient-normal);
	}
	&.active .shape-38 {
		top: 20%;
		left: 62%;
	}
	.shape-39 {
		fill: url(#gradient-normal);
	}
	&.active .shape-39 {
		top: 33.5%;
		left: 57.5%;
	}
	.shape-40 {
		fill: url(#gradient-normal);
	}
	&.active .shape-40 {
		top: 40%;
		left: 78.5%;
	}
	.shape-41 {
		fill: url(#gradient-normal);
	}
	&.active .shape-41 {
		top: 28%;
		left: 42%;
	}
}

@media screen and (max-width: 60em) {
	.intro-anim.active .shape-center {
		transform: translate(-50%, -50%) scale(0.75, 0.75);
	}
	.intro-anim.active .mobile-hide {
		opacity: 0;
	}
	.intro-anim.active .shape-27 {
		top: 78.5%;
		left: 47.5%;
	}
	.intro-anim.active .shape-31 {
		top: 28.5%;
		left: 81.5%;
	}
	.intro-anim.active .shape-40 {
		top: 36%;
		left: 42.5%;
	}
}
