/* Zoom In */
.zoomer {
  // background-color: #FFF;
  background-size: cover;
  background-position: center;

  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

  z-index: 10;
}

@keyframes modalIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Modal */
.modal-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  outline: 0!important;
  -webkit-backface-visibility: hidden;

  overflow-x: hidden;
  overflow-y: auto;
}

.modal-wrap.nope {
  width: 0;
  height: 0;
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: #FFF;
  width: 50%;
  left: 50%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.5s all ease 0s;

  overflow: hidden;
  overflow-y: scroll;
}

.modal-wrap.active .modal,
.modal-wrap.active .modal-controls {
  transform: translateX(0%);
}

.modal-controls {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
  transform: translateX(100%);
  transition: 0.5s all ease 0.5s;
	background-color: #1c1c1c;
	width: 50px;

  @supports (display:flex) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.modal-controls .close {
	position: relative;
	// top: 0;
	// left: 0;
	width: 50px;
	height: 50px;
	background: transparent;
  transition: 0.5s all ease;
	border: none;
  white-space: nowrap;
  text-indent: 100%;
  padding: 0;
  line-height: 50px;
  overflow: hidden;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $secondary;
  }
}

.modal-controls .close .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  margin-top: -25px;
	height: 50px;
  transform: rotate(45deg);
}

.modal-controls .close .icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  margin-left: -20px;
	height: 2px;
  margin-top: -1px;
  background-color: #FFFFFF;
}

.modal-controls .close .icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  margin-top: -20px;
	width: 2px;
  margin-left: -1px;
  background-color: #FFFFFF;
}

.modal-controls .middle {

}

.modal-controls .prev {
  color: #FFF;
	width: 50px;
	height: 50px;
	border: none;
  cursor: pointer;
  background: none;
  transform: rotate(-90deg);
  padding: 20px 0;
}

.modal-controls .next {
	position: relative;
  color: #FFF;
	width: 50px;
	height: 50px;
	border: none;
  cursor: pointer;
  background: none;
  transform: rotate(-90deg);
  padding: 20px 0;
}

.modal-controls .number {
	position: relative;
  color: #FFF;
	width: 50px;
	height: 85px;
  padding: 20px 10px;
  line-height: 12px;
	border: none;
  text-align: center;
}

.modal-controls .number .from {
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

.modal-controls .number .to {
  padding-top: 10px;
}

/* Active Modal */
.modal-active .modal,
.modal-active .modal-controls {
  transform: translateX(0%);
}

/* Modal Content */
.modal.loading .modal-content {
  opacity: 0;
}

.modal-content  {
  background-color: #FFFFFF;
  text-align: left;
  padding: 100px 150px 100px 100px;
  transition: 0.5s all ease;
  opacity: 1;
}

.modal-wrap .img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;

  opacity: 0;
  transition: 0.5s all ease;
}

.modal-active .modal-wrap .img {
  opacity: 1;
}
