.profile {
	// min-height: 800px;
  padding: 120px 0;
  position: relative;

  @supports (display: flex) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: $tablet) {
	.profile {
		height: auto;
		min-height: 0;
		padding: 100px 0;
	}
}

.profile .row {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 3;

	@supports (display: flex) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.profile .l-col {
  width: 60%;
  float: left;
}

.profile .r-col {
  width: 32%;
  float: right;
}

.profile p {
	color: $text-color;
	font-size: 32px;
	line-height: 1.45;
	position: relative;
	z-index: 2;
	margin: 30px 0;
}

@media screen and (max-width: 1400px) {
	.profile p {
		font-size: calc(16px + 1.11111vw);
	}
}

.profile .title {
  color: $text-color;
  margin: 10px 0;
}

.profile ul {
  margin: 5px 0;
}

.profile li {
  width: 50%;
  float: left;
  margin: 5px 0;
  color: $secondary-color;
  line-height: 1.35;
  font-family: monospace;
}

.profile .image {
	max-width: 400px;
	position: relative;
}

.profile .image .shape-1 {
	position: absolute;
	top: 70%;
	left: 0%;
	fill: none;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke: url(#gradient-pink);
	animation: spin 10s linear infinite;
}

.profile .image .shape-2 {
	position: absolute;
	top: 0%;
	left: 90%;
	fill: none;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke: url(#gradient-normal);
	animation: spin 20s linear infinite;
}

.profile .image .shape-3 {
	position: absolute;
	top: 90%;
	left: 10%;
	fill: none;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke: url(#gradient-normal);
}

.profile .image .shape-float {
	animation: float-x 5s linear infinite;
}

.profile img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.15);
}

@media screen and (max-width: 1260px) {
	.profile .row {
		max-width: 800px;
	}
	.profile li {
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 860px) {
	.profile .row {
		max-width: 100%;
		padding: 0 40px;

		@supports (display: flex) {
	   	flex-wrap: wrap;
	  }
	}
	.profile .r-col {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.profile .image {
		margin-right: 30px;
	}
	.profile .image,
	.profile .skills {
		float: left;
	}
	.profile .l-col,
	.profile .r-col {
	  width: 100%;
	  float: none;
	}
}

@media screen and (max-width: 460px) {
	.profile .r-col {
		display: block;
	}
	.profile .image {
		margin-right: 0;
	}
	.profile .image,
	.profile .skills {
		float: none;
	}
}
