@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
  100% {
		transform: rotate(360deg);
	}
}

/* Cross */
.cross-holder {
  position: absolute;
  width: 40px * $sizing-ratio;
  height: 40px * $sizing-ratio;
  transform: translate(-50%, -50%);
	top: 22.5%;
	left: 82%;

	&.two {
		top: 80%;
		left: 10%;
	}

  .cross {
    position: absolute;
    width: 40px * $sizing-ratio;
    height: 40px * $sizing-ratio;
    animation-name: spin;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-delay: 0s;
    animation-timing-function: linear;

    &:before {
      content: '';
      position: absolute;
      height: 40px * $sizing-ratio;
      width: 4px * $sizing-ratio;
      border-radius: 2px * $sizing-ratio;
      position: absolute;
      top: 50%;
      margin-top: -20px * $sizing-ratio;
      left: 50%;
      margin-left: -2px * $sizing-ratio;
      background-color: $shape-color;
      transition: 1s all ease;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px * $sizing-ratio;
      height: 4px * $sizing-ratio;
      border-radius: 2px * $sizing-ratio;
      margin-top: -2px * $sizing-ratio;
      margin-left: -20px * $sizing-ratio;
      background-color: $shape-color;
      transition: 1s all ease;
    }
  }
  &:hover .cross:before,
  &:hover .cross:after {
    background-color: $third-color;
  }
}

@keyframes spinCross {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(90deg);
	}
  100% {
		transform: rotate(90deg);
	}
}

/* Triangle */
.triangle {
  position: absolute;
  height: 30px * $sizing-ratio;
  width: 55px * $sizing-ratio;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: 14%;

	&.two {
		top: 95%;
		left: 35%;

		svg {
			animation: spin 80s linear 0s alternate infinite;
		}
	}

  svg {
    fill: none;
    stroke: $shape-color;
    stroke-miterlimit: 10;
    stroke-width: 8;
    stroke-linecap: round;
		transform-origin: (55px * $sizing-ratio / 2) (30px * $sizing-ratio / 2);
		animation: spin 50s linear 0s normal infinite;
    transition: 1s all ease;
  }

  &:hover svg {
    stroke: $third-color;
  }
}

/* Triangle BG */
.triangle-bg {
  position: absolute;
  height: 120px * $sizing-ratio;
  width: 220px * $sizing-ratio;
  transform: translate(-50%, -50%);
  top: 64%;
  left: 78%;

  svg {
    fill: $shape-color;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 8;
    stroke-linecap: round;
		transform-origin: (220px * $sizing-ratio / 2) (120px * $sizing-ratio / 2);
		opacity: 0.25;
		animation: spin 50s linear 0s normal infinite;

    transition: 1s all ease;
  }

  &:hover svg {
    stroke: $third-color;
  }
}

/* Circle */
.circle-holder {
    width: 40px * $sizing-ratio;
    height: 40px * $sizing-ratio;
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);

    .circle {
        width: 40px * $sizing-ratio;
        height: 40px * $sizing-ratio;
        border-radius: 50%;
        border: (4px * $sizing-ratio) solid $shape-color;

        transition: 1s all ease;
    }

    &:hover .circle {
      border-color: $third-color;
    }
}

/* BG Circle */
.bgcircle-holder {
    width: 120px * $sizing-ratio;
    height: 120px * $sizing-ratio;
    position: absolute;
    top: 6%;
    left: 20%;
    transform: translate(-50%, -50%);

    .circle {
        width: 120px * $sizing-ratio;
        height: 120px * $sizing-ratio;
        border-radius: 50%;
				background-color: $shape-color;
				opacity: 0.25;

        transition: 1s all ease;
    }
}

/* Semicircle */
.semi-holder {
	width: 50px * $sizing-ratio;
	height: 100px * $sizing-ratio;
	position: absolute;
	top: 30%;
	left: 10%;
	transform: translate(-50%, -50%);

	&.two {
		top: 85%;
		left: 75%;
	}

	.semicircle {
		width: 50px * $sizing-ratio;
		height: 100px * $sizing-ratio;
		background-color: $shape-color;
		border-radius: (5px * $sizing-ratio) (100px * $sizing-ratio) (100px * $sizing-ratio) (5px * $sizing-ratio);
		opacity: 0.25;

		transform-origin: (50px * $sizing-ratio / 2) (100px * $sizing-ratio / 2);
		animation: spin 100s linear 0s normal infinite;

		transition: 1s all ease;
	}
}

/* Square */
.square-holder {
    width: 60px * $sizing-ratio;
    height: 60px * $sizing-ratio;
    position: absolute;
    top: 41%;
    left: 87%;
    transform: translate(-50%, -50%);

		&.two {
			top: 51.5%;
			left: 17%;
			width: 60px * $sizing-ratio;
	    height: 60px * $sizing-ratio;

			.square {
				transform: rotate(-15deg);
				width: 60px * $sizing-ratio;
		    height: 60px * $sizing-ratio;
				border-radius: 10px;
				background: transparent;
				border: 10px solid $shape-color;
				opacity: 1;
				animation: spin 60s linear 0s reverse infinite;
			}
		}

    .square {
        width: 60px * $sizing-ratio;
        height: 60px * $sizing-ratio;
				background-color: $shape-color;
				opacity: 0.25;
				animation: spin 80s linear 0s normal infinite;
        transition: 1s all ease;
    }
}
