.work-banner {
	height: 100vh;
	background: #000;
	color: #FFF;
	background-position: center;
	background-size: cover;

	@supports (display: flex) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.work-banner .row {
	padding: 0 60px;
	max-width: 1400px;
	margin: 0 auto;
}

.work-banner .row .text {
	max-width: 66.666%;
}

.work-banner .client {
	margin-bottom: 15px;
}

.work-banner h1 {
	font-size: 90px;
	// font-size: 2rem;
}

.work-banner p {
	margin-top: 50px;
	line-height: 1.6;
}

/* Work Content */
.work-content {
	background-color: #FFF;
	padding: 5em 0;
	text-align: center;
}
