.work-banner {
	padding: 120px 0 120px 0;
	background: #FFF;
	background-color: $background-color;
	color: #FFF;
	background-position: center;
	background-size: cover;
	position: relative;

	@supports (display: flex) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.work-banner:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.375));
}

@media screen and (max-width: 800px) {
	.work-banner {
		padding: 100px 0 100px 0;
	}
}

.work-banner .row {
	padding: 0 60px;
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2;
}

.work-banner .row .text {
}

.work-banner .client {
	font-size: 20px;
	font-size: 1.25em;
	margin-bottom: 15px;
	color: #fff;
	opacity: 0.75;
	font-family: monospace;
}

.work-banner h1 {
	font-size: 64px;
	font-size: calc(64px + 1.11111vw);
	color: #FFF; //$background-color-two;
}

@media screen and (max-width: 1400px) {
	.work-banner h1 {
		font-size: 48px;
		font-size: calc(48px + 1.11111vw);
	}
}

.work-banner a.back {
	color: #FFF;
	text-decoration: none;
	position: relative;
	padding-left: 22px;
	display: inline-block;

	svg {
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -7px;
		height: 14px;
		width: 14px;
		fill: #FFF;
	}
}

.work-banner a.back:hover,
.work-banner a.back:focus {
	color: $third-color;

	svg {
		fill: $third-color;
	}
}

/* Work Content */
.work-content {
	background-color: lighten(#f4f6fa,1%);
	padding: 240px 0 100px 0;
	text-align: center;
}

@media screen and (max-width: 60em) {
	.work-content {
		padding: 180px 0 40px 0;
	}
}

@media screen and (max-width: 42em) {
	.work-content {
		padding: 180px 0 40px 0;
	}
}

.work-content .row {
	padding: 0 60px;
	max-width: 1400px;
	margin: 0 auto;
	text-align: left;

	@supports(display: flex) {
		display: flex;
	}
}

.work-content .row .client {
	width: 25%;
	padding-right: 5rem;
	margin-bottom: 20px;

	.title {
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		color: $background-color;
	}
	a {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: $background-color;
		color: #FFF;
		margin-top: 20px;
		padding: 10px;

		svg {
			fill: #FFF;
			display: block;
			width: 20px;
			height: 20px;
		}

		&:hover,
		&:focus {
			background-color: $third-color;
		}
	}
}

.work-content .row .text {
	width: 50%;

	font-size: 20px;
  font-size: calc((20px - 320px * .01111) + 1.11111vw);
	line-height: 1.45;
	color: $background-color-two;
	margin-bottom: 20px;

	strong {
		font-weight: bold;
	}
}

.work-content .row .side {
	max-width: 25%;
	padding-right: 5rem;
	font-family: monospace;
	color: #6b6c6c;
	font-size: 18px;
	line-height: 1.6;
	margin-top: 4px;
	margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
	.work-content .row {
		padding: 0 40px;

		@supports(display: flex) {
			flex-wrap: wrap;
		}
	}
	.work-content .row .client,
	.work-content .row .text,
	.work-content .row .side {
		padding: 0;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	.work-content .row .side div {
		display: inline;
	}
	.work-content .row .side div:not(:last-child):after {
		display: inline;
		content: ', '
	}
	.work-content .row .client .title {
		display: inline;
    vertical-align: text-top;
	}
	.work-content .row .client a {
		margin-left: 20px;
		vertical-align: middle;
	}
}

.work-images {
	background-color: #FFF;
}

.work-images .row {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 60px;
}

.work-images img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.work-images .image-bit {
	padding: 60px 0;
}
.work-images .text-bit {
	padding: 30px 0;
}

.work-images .text-bit {
	max-width: 800px;
	margin: 0 auto;
}

.work-images .text-bit p {
	font-size: 16px;
	font-size: calc(16px + 0.75vw);
	line-height: 1.6;
	color: $background-color-two;
}

/* Showcase Footer */
.work-footer {
	background-color: #FFF; //$background-color;
	position: relative;
	text-align: center;
	padding: 16em 0 16em 0;
}

.work-footer .row {
	max-width: 1400px;
	margin: 0 auto;
}

.work-footer h2 {
	font-size: 24px;
    font-size: calc((24px - 320px * .01111) + 1.11111vw);
	line-height: 1.4;
	color: $background-color;
}
.link-holder {
	@supports(display: flex) {
		display: flex;
	}
}

.link-holder a {
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 100px 0;
	text-align: center;

	@supports(display: flex) {
		flex-basis: 33.333%;
	}
}

/* Showcase Footer Shapes */
.showcase-shapes {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	.shape-center {
		transform: translate(-50%, -50%);
	}
	.shape-spin {
		animation: spin 10s linear infinite;
	}
	.shape-float {
		animation: float-x 10s infinite;
	}
	.lined-normal {
		fill: none;
		stroke-width: 5;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-miterlimit: 10;
		stroke: url(#gradient-normal);
	}
	.lined-nograd {
		fill: none;
		stroke-width: 5;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-miterlimit: 10;
		stroke: #2c41ff;
	}
	.lined-pink {
		fill: none;
		stroke-width: 5;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-miterlimit: 10;
		stroke: url(#gradient-pink);
	}
	.shape {
		position: absolute;
		top: 50%;
		left: 50%;
		transition: 3s top ease-out, 3s left ease-out;
	}
	.shape-1 {
		fill: url(#gradient-high);
	}
	&.active .shape-1 {
		top: 56.5%;
		left: 8%;
	}

	.shape-2 {
		fill: url(#gradient-pink);
	}
	&.active .shape-2 {
		top: 41%;
		left: 14%;
	}

	.shape-4 {
		fill: url(#gradient-normal);
	}
	&.active .shape-4 {
		top: 18.5%;
		left: 34%;
	}
	.shape-5 {
		fill: url(#gradient-normal);
	}
	&.active .shape-5 {
		top: 31.5%;
		left: 28%;
	}
	.shape-6 {
		fill: url(#gradient-normal);
	}
	&.active .shape-6 {
		top: 35%;
		left: 36%;
	}
	.shape-7 {
		fill: url(#gradient-normal);
	}
	&.active .shape-7 {
		top: 23%;
		left: 49.5%;
	}
	.shape-8 {
		fill: url(#gradient-normal);
	}
	&.active .shape-8 {
		top: 54%;
		left: 20%;
	}
	.shape-9 {
		fill: url(#gradient-normal);
	}
	&.active .shape-9 {
		top: 37.5%;
		left: 83.5%;
	}
	.shape-10 {
		fill: url(#gradient-normal);
	}
	&.active .shape-10 {
		top: 76.5%;
		left: 11.5%;
	}
	.shape-11 {
		.line {
			fill: none;
			stroke-width: 9;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
			stroke: url(#gradient-normal);

			stroke-dasharray: 67 68;
			stroke-dashoffset: 67;
			animation: showLine 5s ease alternate infinite;

			@keyframes showLine {
				0% {
					stroke-dasharray: 67 68;
					stroke-dashoffset: 67;
				}
				100% {
					stroke-dasharray: 67 68;
					stroke-dashoffset: 0;
				}
			}
		}
		.circle {
			fill: #2c41ff;
		}
	}
	&.active .shape-11 {
		top: 82%;
		left: 18%;
	}
	.shape-13 {
		fill: url(#gradient-normal);
	}
	&.active .shape-13 {
		top: 62%;
		left: 23%;
	}
	.shape-14 {
		fill: url(#gradient-normal);
	}
	&.active .shape-14 {
		top: 74.5%;
		left: 32%;
	}
	.shape-15 {
		fill: url(#gradient-normal);
	}
	&.active .shape-15 {
		top: 89%;
		left: 28.5%;
	}
	.shape-16 {
		fill: url(#gradient-normal);
	}
	&.active .shape-16 {
		top: 80%;
		left: 37.5%;
	}
	.shape-17 {
		fill: url(#gradient-normal);
	}
	&.active .shape-17 {
		top: 62.5%;
		left: 36%;
	}
	.shape-19 {
		fill: url(#gradient-normal);
	}
	&.active .shape-19 {
		top: 68%;
		left: 56.5%;
	}
	.shape-20 {
		fill: url(#gradient-normal);
	}
	&.active .shape-20 {
		top: 30%;
		left: 72%;
	}
	.shape-21 {
		fill: url(#gradient-normal);
	}
	&.active .shape-21 {
		top: 87%;
		left: 61%;
	}
	.shape-22 {
		fill: url(#gradient-normal);
	}
	&.active .shape-22 {
		top: 77%;
		left: 64%;
	}
	.shape-23 {
		fill: url(#gradient-normal);
	}
	&.active .shape-23 {
		top: 71%;
		left: 66.5%;
	}
	.shape-24 {
		fill: url(#gradient-normal);
	}
	&.active .shape-24 {
		top: 86%;
		left: 72%;
	}
	.shape-25 {
		fill: url(#gradient-normal);
	}
	&.active .shape-25 {
		top: 80.5%;
		left: 77.5%;
	}
	.shape-26 {
		fill: url(#gradient-normal);
	}
	&.active .shape-26 {
		top: 88.5%;
		left: 79%;
	}
	.shape-27 {
		fill: url(#gradient-normal);
	}
	&.active .shape-27 {
		top: 65%;
		left: 76.5%;
	}
	.shape-28 {
		fill: url(#gradient-normal);
	}
	&.active .shape-28 {
		top: 24%;
		left: 17.5%;
	}
	.shape-29 {
		fill: url(#gradient-normal);
	}
	&.active .shape-29 {
		top: 67.5%;
		left: 84%;
	}
	.shape-30 {
		fill: url(#gradient-normal);
	}
	&.active .shape-30 {
		top: 56%;
		left: 92%;
	}
	.shape-31 {
		.line {
			fill: none;
			stroke-width: 9;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
			stroke: url(#gradient-normal);

			animation: showLine 7.5s ease alternate infinite;
		}
		.circle {
			fill: #2c41ff;
		}
	}
	&.active .shape-31 {
		top: 49.5%;
		left: 81.5%;
	}
	.shape-32 {
		fill: url(#gradient-normal);
	}
	&.active .shape-32 {
		top: 45%;
		left: 90.5%;
	}
	.shape-33 {
		fill: url(#gradient-normal);
	}
	&.active .shape-33 {
		top: 41.5%;
		left: 26%;
	}
	.shape-34 {
		fill: url(#gradient-normal);
	}
	&.active .shape-34 {
		top: 66%;
		left: 18%;
	}
	.shape-35 {
		fill: url(#gradient-normal);
	}
	&.active .shape-35 {
		top: 73.5%;
		left: 47.5%;
	}
	.shape-36 {
		fill: url(#gradient-normal);
	}
	&.active .shape-36 {
		top: 89%;
		left: 48%;
	}
	.shape-37 {
		fill: url(#gradient-normal);
	}
	&.active .shape-37 {
		top: 19.5%;
		left: 74.5%;
	}
	.shape-38 {
		fill: url(#gradient-normal);
	}
	&.active .shape-38 {
		top: 20%;
		left: 62%;
	}
	.shape-39 {
		fill: url(#gradient-normal);
	}
	&.active .shape-39 {
		top: 33.5%;
		left: 57.5%;
	}
	.shape-41 {
		fill: url(#gradient-normal);
	}
	&.active .shape-41 {
		top: 28%;
		left: 42%;
	}
}
