/* Writing */
.home-writings {
    min-height: 100vh;
    padding: 200px 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.home-writings .row {
    max-width: 1200px;
    padding: 0 60px;
    margin: 0 auto;
}

.home-writings .writings-list {
    color: $text-color;

    font-size: 24px;
    font-size: calc(20.4448px + 1.11111vw);
    line-height: 1.6;
	position: relative;
	padding-right: 30%;
    line-height: 1.2;
}

.home-writings .writings-list .image {
	position: absolute;
	top: 0;
	right: 0;
	width: 35%;
	height: 100%;

	background-image: url('../img/home.jpg');
	background-size: cover;
	background-position: center;
	background-color: $background-color;
	background-blend-mode: multiply;
}

.home-writings .writings-list a {
    color: $text-color;
	position: relative;
    text-decoration: none;
}

.home-writings .writings-list a:hover,
.home-writings .writings-list a:focus {
	color: $third-color;
}

.home-writings .writings-list sup {
    font-family: monospace;
    display: inline-block;
    color: $slight;
    font-size: .7rem;
    top: -0.9rem;
    position: relative;
    margin-left: .5rem;
    line-height: 3.33333333rem;
}

/* Blog Page */
.blog-page {
    background: #FFF;
    padding: 240px 0 120px 0;
}

.blog-page article h1 {
    font-weight: 600;
    text-align: center;
}

.Page {
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (min-width: 848px) {
    .Page {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
