/* Writing */
.home-writings {
    min-height: 100vh;
    padding: 200px 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.home-writings .row {
    max-width: 1200px;
    padding: 0 60px;
    margin: 0 auto;
}

.home-writings .flex {
	@supports(display: flex) {
		display: flex;
		align-items: center;
	}
}

.home-writings .writings-list {
    color: $text-color;

    font-size: 24px;
    font-size: calc(20.4448px + 1.11111vw);
    line-height: 1.6;
		position: relative;
    line-height: 1.2;
		width: 60%;
		float: left;
		margin-left: 6%;
}

.home-writings .writings-list li {
    margin: 16px 0;
    margin: 1rem 0;
}

.home-writings .writings-list a {
    color: $text-color;
	position: relative;
    text-decoration: none;
}

.home-writings .writings-list li.selected a,
.home-writings .writings-list a:hover,
.home-writings .writings-list a:focus {
	color: $third-color;
}

.home-writings .writings-list sup {
    font-family: monospace;
    display: inline-block;
    color: $slight;
    font-size: .7rem;
    top: -0.9rem;
    position: relative;
    margin-left: .5rem;
    line-height: 3.33333333rem;
}

/* Blog Page */
.blog-page {
    background: #FFF;
    padding: 240px 0 120px 0;
}

.blog-page article h1 {
    font-weight: 600;
    text-align: center;
}

.Page {
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (min-width: 848px) {
    .Page {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.home-writings .image-holder {
	width: 34%;
	position: relative;
	float: left;
}

.home-writings .image-holder .spacer {
	padding-bottom: 125%;
}

.home-writings .image-holder .slide {
	background-size: cover;
	background-position: center;
	background-color: $background-color;
	// background-blend-mode: multiply;
	position: absolute;

	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding-bottom: 125%;
	width: 100%;
	z-index: 5;
	transition: all .2s cubic-bezier(.215,.61,.355,1);

	box-shadow: 0px 1px 8px rgba(0,0,0,0.1);

	// useTranslate3d: true;
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

.home-writings .image-holder .slide.selected {
	z-index: 6;
	background-blend-mode: normal;
}

.home-writings .image-holder .slide.selected + .slide {
    position: absolute;
    top: 0;
    left: -5%;
    -webkit-transform: scale3d(.95,.95,1);
    transform: scale3d(.95,.95,1);
    z-index: 4;
		// opacity: 0.8;
}

.home-writings .image-holder .slide.selected + .slide + .slide {
    position: absolute;
    top: 0;
    left: -10%;
    -webkit-transform: scale3d(.9,.9,1);
    transform: scale3d(.9,.9,1);
    z-index: 3;
		// opacity: 0.6;
}

.home-writings .image-holder .slide.selected + .slide + .slide + .slide {
    position: absolute;
    top: 0;
    left: -15%;
    -webkit-transform: scale3d(.85,.85,1);
    transform: scale3d(.85,.85,1);
    z-index: 2;
		// opacity: 0.4;
}

.home-writings .image-holder .slide.selected + .slide + .slide + .slide + .slide {
    position: absolute;
    top: 0;
    left: -20%;
    -webkit-transform: scale3d(.8,.8,1);
    transform: scale3d(.8,.8,1);
    z-index: 1;
		// opacity: 0.2;
}
