* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body, button, select, textarea, input, label {
  font-family: 'New Transport', Helvetica, Arial, sans-serif;
}

// svg {
// 	display: inline-block;
// 	fill: currentColor;
// 	width: 16px;
// 	height: 16px;
// }

$main-teal: #0fa1ba;

/* Text Highlight */
::selection {
    color: #FFF;
    background: #13B9E0;
}

/* Global Styles */

.space {
    height: 1px;
}
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.hidden {
    display: none;
}
.clear {
    clear: both;
}
@media only screen and (min-width: 64.063em) {
    .tablet-clear {
        clear: both;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.mobiletotablet-clear {
		clear: both;
	}
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
img.floatleft,
.img.floatright {
    position: relative;
}
.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}

em {
  font-style: italic;
}

/* Responsive Embed */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
